body {
    color: white
}
:root {
    --predavanje: #29477444;
    --vaje: rgba(45, 9, 145, 0.342);
}

.background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    color: rgb(31, 30, 30);
    z-index: -1;
    /* Place the div behind other content */
}

table {
    border-collapse: collapse;
    height: 95vh;
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
}

th, td {
    width: 5%;
    
    border: 1px solid #dddddd;
    text-align: center;
    padding: 0px;
}




th:not(:first-child),
td:not(:first-child) {
    width: 16%;
    
}
.blockCell{
    padding: 0px;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.ime{
    font-size: larger;

}
.date{
    font-size: small;
}
.place{
    font-size: smaller;
}

#PR-LINEARNA-ALGEBRA{
    background-color: var(--predavanje);
}
#LV-LINEARNA-ALGEBRA{
    background-color: var(--vaje);
}
#SV-LINEARNA-ALGEBRA{
    background-color: var(--vaje);
}

#PR-OPERACIJSKI-SISTEMI{
    background-color: var(--predavanje);
}
#RV-OPERACIJSKI-SISTEMI{
    background-color: var(--vaje);
}

#PR-RAZVOJ-PROGRAMSKE-OPREME{
    background-color: var(--predavanje);
}
#RV-RAZVOJ-PROGRAMSKE-OPREME{
    background-color: var(--vaje);
}

#PR-RAČUNALNIŠKE-ARHITEKTURE{
    background-color: var(--predavanje);
}
#RV-RAČUNALNIŠKE-ARHITEKTURE{
    background-color: var(--vaje);
}

#RV-MREŽNO-USMERJENO-RAČUNANJE{
    background-color: var(--vaje);
}
#PR-MREŽNO-USMERJENO-RAČUNANJE{
    background-color: var(--predavanje);
}


@media (max-width: 1000px) {
    /* Add your styles here */
    table {
        font-size: medium;
        height: 90vh;
        
        width: 96%;
        margin-left: 2%;
    }
    .ime{
        font-size: medium;
    
    }
    .date{
        font-size: small;
    }
    .place{
        font-size: smaller;
    }

}
@media (max-width: 600px) {
    /* Add your styles here */
    table {
        
        font-size: xx-small;
        
    }
    
    .ime{
        font-size:x-small
    
    }
    .date{
        font-size: xx-small;
    }
    .place{
        font-size: xx-small;
    }
}